<div class="row">
    <div>
        <div id="resume" itemscope itemtype="http://schema.org/Person">
            {{#resume.basics}}
                <div class="row">
                    <div>
                        <h1 itemprop="name">{{name}}</h1>
                        <h2>{{label}}</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 large-6 columns">
                        <div id="basics">
                            <div class="contact">
                                {{#if website}}
                                    <div class="website">
                                        <a href="{{website}}" target="_blank">&nbsp;{{website}}</a>
                                    </div>
                                {{/if}}
                                {{#if email}}
                                    <div class="email">
                                        <a href="mailto:{{email}}" itemprop="email">&nbsp;{{email}}</a>
                                    </div>
                                {{/if}}
                                {{#if phone}}
                                    <div class="phone">
                                        <a href="tel://{{phone}}" class="link-disguise info" itemprop="telephone">&nbsp;{{phone}}</a>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{#location}}
                        <div class="small-12 medium-6 large-5 columns">
                            <div id="location">
                                {{#if address}}
                                    <div class="address">
                                        {{address}}
                                    </div>
                                {{/if}}
                                {{#if city}}
                                    <span class="city">{{city}},&nbsp;</span>
                                {{/if}}
                                {{#if region}}
                                    <span class="region">{{region}}</span>
                                {{/if}}
                                {{#if postalCode}}
                                    <span class="postalCode"><strong>&nbsp;&nbsp;{{postalCode}}</strong></span>
                                {{/if}}
                                {{#if countryCode}}
                                    <span class="countryCode">{{countryCode}}</span>
                                {{/if}}
                            </div>
                        </div>
                </div>
                {{/location}}
                {{#if summary}}
                    <div class="callout">
                        <p>{{summary}}</p>
                    </div>
                {{/if}}
                {{#if profiles.length}}
                    <div class="row">
                        <div id="profiles">
                            {{#each profiles}}
                                {{#if network}}
                                    <a href="{{url}}" class="icon-button {{network}}" target="_blank"><i class="fi-social-{{toLower network}}"></i><span></span></a>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

            {{/resume.basics}}
            {{#if resume.work.length}}
                <div id="work">
                    <h2>Work Experience</h2>
                    {{#each resume.work}}
                        <div class="callout primary">
                            <div class="row">
                                {{#if position}}
                                    <div class="small-12 medium-6 large-5 columns">
                                        <span class="position"><strong>{{position}}</strong></span>
                                    </div>
                                {{else}}
                                    <div class="small-12 medium-4 large-4 columns"></div>
                                {{/if}}
                                {{#if company}}
                                    <div class="small-12 medium-6 large-5 columns">
                                        <p class="text-center small-text-left">
                                            {{#if website}}
                                                <a href="{{website}}" target="_blank">{{company}}</a>
                                            {{else}}
                                                {{company}}
                                            {{/if}}
                                        </p>
                                    </div>
                                {{else}}
                                    <div class="small-12 medium-4 large-4 columns"></div>
                                {{/if}}
                                <div class="small-12 medium-6 large-2 columns">
                                    <p class="dates text-right small-text-left">
                                        {{#if startDate}}
                                            <span class="startDate">{{prettifyDate startDate}}</span>
                                        {{/if}}
                                        {{#if endDate}}
                                            <span class="endDate">&ndash;{{prettifyDate endDate}}</span>
                                        {{else}}
                                            <span class="endDate">&ndash;Present</span>
                                        {{/if}}
                                    </p>
                                </div>
                                {{#if summary}}
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <p class="summary">{{summary}}</p>
                                        </div>
                                    </div>
                                {{/if}}
                                {{#if highlights.length}}
                                    <ul class="highlights">
                                        {{#each highlights}}
                                            <li>
                                                {{#markdown}}{{.}}{{/markdown}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            {{#if resume.volunteer.length}}

                <div class="row">
                    <div>
                        <div id="volunteer">
                            <h2>Volunteer</h2>
                            {{#each resume.volunteer}}
                                <div class="item">
                                    {{#if organization}}
                                        <h3 class="company">{{organization}}</h3>
                                    {{/if}}
                                    <div class="date">
                                        {{#if startDate}}
                                            <span class="startDate">{{startDate}}</span>
                                        {{/if}}
                                        {{#if endDate}}
                                            <span class="endDate">&ndash;{{endDate}}</span>
                                        {{else}}
                                            <span class="endDate">&ndash;Present</span>
                                        {{/if}}
                                    </div>
                                    {{#if position}}
                                        <div class="position">
                                            {{position}}
                                        </div>
                                    {{/if}}
                                    {{#if website}}
                                        <div class="website">
                                            <a href="{{website}}">{{website}}</a>
                                        </div>
                                    {{/if}}
                                    {{#if summary}}
                                        <div class="summary">
                                            <p>{{summary}}</p>
                                        </div>
                                    {{/if}}
                                    {{#if highlights.length}}
                                        <ul class="highlights">
                                            {{#each highlights}}
                                                <li>{{.}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

            {{/if}}

            {{#if resume.education.length}}

                <div id="education">
                    <h2>Education</h2>
                    {{#each resume.education}}
                        <div class="callout secondary">
                            <div class="row">
                                {{#if studyType}}
                                    <div class="large-2 columns">
                                        <div class="studyType">{{studyType}}</div>
                                        {{#if gpa}}
                                            <p class="gpa">
                                                <strong>GPA: </strong>{{gpa}}
                                            </p>
                                        {{/if}}
                                    </div>
                                {{else}}
                                    <div class="large-12 columns"></div>
                                {{/if}}
                                {{#if area}}
                                    <div class="large-3 columns">
                                        <span class="area">{{area}}</span>
                                    </div>
                                {{else}}
                                    <div class="large-3 columns">
                                    </div>
                                {{/if}}
                                {{#if institution}}
                                    <div class="small-12 medium-4 large-4 columns">
                                        <span class="text-center small-text-left institution">{{#markdown}}{{institution}}{{/markdown}}</span>
                                    </div>
                                {{/if}}
                                <div class="large-2 columns">
                                    <p class="date text-right small-text-left">
                                        {{#if startDate}}
                                            <span class="startDate">{{prettifyDate startDate}}</span>
                                        {{/if}}
                                        {{#if endDate}}
                                            <span class="endDate">&ndash;{{prettifyDate endDate}}</span>
                                        {{else}}
                                            <span class="endDate">&ndash;Present</span>
                                        {{/if}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                {{#if courses.length}}

                                    <ul class="courses">
                                        {{#each courses}}
                                            <li>{{.}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            {{#if resume.awards.length}}

                <div class="row">
                    <div>
                        <div id="awards">
                            <h2>Awards</h2>
                            {{#each resume.awards}}
                                <div class="item">
                                    {{#if title}}
                                        <div class="title">
                                            {{title}}
                                        </div>
                                    {{/if}}
                                    {{#if date}}
                                        <div class="date">
                                            {{date}}
                                        </div>
                                    {{/if}}
                                    {{#if awarder}}
                                        <div class="awarder">
                                            {{awarder}}
                                        </div>
                                    {{/if}}
                                    {{#if summary}}
                                        <div class="summary">
                                            <p>{{summary}}</p>
                                        </div>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

            {{/if}}

            {{#if resume.skills.length}}
                <div id="skills">
                    <h2>Skills</h2>
                    <div class="row">
                        {{#each resume.skills}}
                            <columns small="6" large="2">
                                <div class="item">
                                    {{#if name}}
                                        <div class="text-center name">
                                            {{name}}
                                        </div>
                                    {{/if}}
                                    {{#if level}}
                                        <div class="level">
                                            <em>{{level}}</em>
                                        </div>
                                    {{/if}}
                                    {{#if keywords.length}}
                                        <ul class="keywords">
                                            {{#each keywords}}
                                                <li>{{.}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </div>
                    </div>
                    {{/each}}
                </div>
        {{/if}}

        {{#if resume.languages.length}}
            <div id="languages">
                <h2>Languages</h2>
                <div class="row">
                    {{#each resume.languages}}
                        <columns small="6" large="6">
                            {{#if language}}
                                <div class="language">
                                    {{language}}
                                </div>
                            {{/if}}
                            {{#if fluency}}
                                <div class="fluency">
                                    <em>{{fluency}}</em>
                                </div>
                            {{/if}}
                </div>
                {{/each}}
            </div>
    </div>
    {{/if}}
    {{#if resume.interests.length}}

        <div class="row">
            <div>
                <div id="interests">
                    <h2>Interests</h2>
                    {{#each resume.interests}}
                        <div class="item">
                            {{#if name}}
                                <div class="name">
                                    {{name}}
                                </div>
                            {{/if}}
                            {{#if keywords.length}}
                                <ul class="keywords">
                                    {{#each keywords}}
                                        <li>{{.}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    {{/if}}

    {{#if resume.references.length}}
        <div id="references">
            <h2>References</h2>
            {{#each resume.references}}
                <div class="row">
                    <div>
                        <div class="item">
                            {{#if reference}}
                                <blockquote class="reference">
                                    {{reference}}
                                </blockquote>
                            {{/if}}
                            {{#if name}}
                                <cite class="text-right name">
                                                — {{name}}
                                            </cite>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    {{#if resume.publications.length}}
        <div id="publications">
            <h2>Publications</h2>
            {{#each resume.publications}}
                <div class="callout secondary">
                    {{#if name}}
                        <span class="name">{{name}} </span>
                    {{/if}}
                    {{#if publisher}}
                        <span class="publisher">{{publisher}}</span>
                    {{/if}}
                    {{#if releaseDate}}
                        <span class="releaseDate">, <strong>{{prettifyDate releaseDate}}</strong></span>
                    {{/if}}
                    {{#if website}}
                        <span class="website"> &nbsp;<a href="{{website}}" target="_blank">{{decodeURI website}}</a></span>
                    {{/if}}
                    {{#if summary}}
                        <div class="summary">
                            <p>{{summary}}</p>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
</div>
</div>
<div class="copy">&copy; {{theYear}} {{resume.basics.name}}</div>
